@model IEnumerable<SpecApp.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Clients</h2>

<p>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Client")';return false;">Add a Client</button>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ClientEmployee")';return false;">View Employees</button>
</p>

    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-center">Client Name</th>
            <th class="text-center">Email Address</th>
            <th class="text-center">Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Email</td>
                <td class="text-center">
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Client", new { id = item.ClientId })';return false;">Update Details</button>
                    <button class="btn btn-warning" onclick="location.href='@Url.Action("Details", "Client", new { id = item.ClientId })';return false;">View Details</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Client", new { id = item.ClientId })';return false;">Delete Client</button>
                    @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")
                </td>
            </tr>
        }
    </table>

